<div class="center jumbotron">
  <h1>Welcome to the API Test App</h1>

  <h2>
    Which platform do you want?
  </h2>
  <div>
    <%= link_to "Twitter", new_word_cloud_path, class: "btn btn-lg btn-primary" %>
</div>