// Place all the styles related to the word_cloud controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
   display: block;
   width: 600px;
   margin-left: auto;
   margin-right: auto;
   h1 {
      text-align: center;
   }
   .cloud_element {
      display: inline;
      a {
         text-decoration: none;
         line-height: 110%;
         vertical-align: middle;
      }
   }
}